body
{background-image: url('bg lepi hollowww.jpg');
color: floralwhite;
background-size: cover;
background-repeat:repeat;
background-attachment: fixed;}

.ok
{color: #ddccff;
border-style: dotted;
border-width: thick;}

.pin
{color: tomato;
border-style: dashed; }

.number
{background-color: gray; }

.one
{background: rgb(102, 0, 51);}

.o
{max-height: 800px;
width : 800px}

p
{font-style: Arial;
font-weight: 600;
color: rgb(214, 224, 245);
font-size: normal;
border-style: solid;}